

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'gloock', sans-serif;
    background-color:rgb(61, 60, 60);
    color: white;
}  

.wrapper { 

height: 100vh;
width: 100vw;
text-align: left;
margin-left: 10%;
 
}

.left {
display: inline-block;
width: 60%;
position: absolute;



}


 .rigth {
    display: inline-block;
    background-color: rgba(93, 93, 125, 0.16);
    height: 100vh;
    width: 40%;
   
   
   
    

 }

 .frontal {
    height: 300px;
    width: 300px;
    position: relative;
    margin-top: 40%;
    margin-left:15%;
    display: inline;
   

 }

 .lateral {

    height: 300px;
    width: 300px;
    position: relative;
    margin-left: 10%;
    display: inline;
 }

 header {

word-spacing: 20px;
font-size: 30px;
margin-left: 60%;



 }

 .titulo {
    font-size: 100px;
   color: blue;
    word-spacing: 20px;


 }

 .first {

font-size: 20px;
text-align: center;
color: gray;



 }

 p {
font-size: 20px;
text-align: center;



 }

 .click {

    margin-left: 50%;
    font-size: 30px;
 }

 @media screen and (max-width:900px) {
   .titulo {
      font-size: 50px;


   }
   .first {

      font-size: 20px;
   }
p {

font-size: 15px;

}

.click {

   font-size: 15px;
  margin-right: 10px;
text-align:center;
}

.frontal {
height: 200px;
width: 200px;
margin-left: 5%;
margin-top: 100%;
display: inline-block;


}
.lateral {
   height: 200px;
   width: 200px;
  margin-left: 0%;
  margin-bottom: 5%;
  margin-top: 10px;
  display: inline-block;
  

}

.home {

   font-size: 20px;
display: block;
 
}

.sobre {
   font-size: 20px;
   display: block;
}
.contatos {
   font-size: 20px;
   display: block;

}
 }
   
 
